/*html,*/
/*body,*/
/*.container-table {*/
/*    height: 45%;*/
/*    width: 100%;*/
/*    background-color: gray;*/
/*}*/

body,
html {
    background: linear-gradient(rgb(255, 255, 255), rgba(8, 107, 173, .8));
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-size: 60px;
    text-align: center;
}

#home {
    color: white;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bold;
}


/*#I{*/
/*    color:black;*/
/*}*/
/*#front-page {*/
/*    display: table;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient( rgba(192, 222, 241, .4), rgba(37,64,168,.9)) no-repeat center;*/
/*    background-size: cover;*/
/*}*/

body {
    background-color: gray;
}

.carousel {
    margin-bottom: 60px;
}

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 70%;
}

@media only screen and (min-width: 768px) {
    #home {
        text-align: center;
        font-size: 40px;
    }
}

@media only screen and (min-width:992px) {
    #home {
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (min-width:1200px) {
    #home {
        font-size: 62px;
        text-align: center;
    }
}

#meaganmanga {
    margin-left: 50px;
}

#meaganmanga:hover {
    border-color: #f1f1f1;
}

#joannemanga {
    margin-left: 50px;
}
