body {
    background-color: pink;
}

h2 {
    font-size: 34px;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

blockquote {
    color: gray;
    font-size: 16px;
}

.link {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.content-list {
    font-size: 20px;
    font-family: 'Dekko', cursive;
}

#mc,
#jf {
    font-family: 'Ultra', serif;
}

#home {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bold;
}

#Il {
    padding-top: 45px;
    display: table;
    background-color: #CFBAFF;
    width: 100%;
}

#Ol {
    padding-top: 45px;
    display: table;
    background-color: #E889A2;
    width: 100%;
}

#skills {
    padding-top: 45px;
    display: table;
    background-color: #FFCD9A;
    width: 100%;
}

#resources {
    padding-top: 45px;
    display: table;
    background-color: #E8E28E;
    width: 100%;
}

#footer {
    padding-top: 45px;
    display: table;
    background-color: #A8FFB3;
    width: 100%;
}

.carousel {
    background-color: lightcyan;
    height: 290px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 290px;
    width: 70%;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    blockquote {
        font-size: 18px;
    }
    h2 {
        font-size: 40px;
    }
    .content-list {
        font-size: 23px;
    }
    .carousel {
        height: 320px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 320px;
    }
    #home {
        text-align: center;
        font-size: 40px;
    }
}

@media only screen and (min-width:992px) {
    blockquote {
        font-size: 20px;
    }
    h2 {
        font-size: 45px;
    }
    .content-list {
        font-size: 26px;
    }
    .carousel {
        height: 370px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 370px;
    }
    #home {
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (min-width:1200px) {
    blockquote {
        font-size: 25px;
    }
    h2 {
        font-size: 50px;
    }
    .content-list {
        font-size: 29px;
    }
    .carousel {
        height: 500px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 500px;
    }
    #home {
        font-size: 62px;
        text-align: center;
    }
}

@media only screen and (min-width:1547px) {
    .carousel {
        height: 700px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 700px;
    }
}

#meaganmanga {
    margin-left: auto;
    margin-right: auto;
    border: 10px solid transparent;
}

#joannemanga {
    margin-left: auto;
    margin-right: auto;
    border: 10px solid transparent;
}

#meaganmanga:hover {
    border-color: #d9d9d9;
}

#joannemanga:hover {
    border-color: #d9d9d9;
}

#j,
#m {
    text-align: center;
}
