html {
    background: linear-gradient(rgb(255, 255, 255), rgba(8, 107, 173, .8));
}

body {
    background-color: whitesmoke;
}

#home {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bold;
}

#resources {
    padding-top: 40px;
}

.carousel {
    height: 290px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 290px;
    width: 70%;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .carousel {
        height: 320px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 320px;
    }
    #home {
        text-align: center;
        font-size: 40px;
    }
}

@media only screen and (min-width:992px) {
    .carousel {
        height: 370px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 370px;
    }
    #home {
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (min-width:1200px) {
    .carousel {
        height: 500px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 500px;
    }
    #home {
        font-size: 62px;
        text-align: center;
    }
}

@media only screen and (min-width:1547px) {
    .carousel {
        height: 700px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 700px;
    }
}

#meaganmanga {
    margin-left: 50px;
}

#joannemanga {
    margin-left: 50px;
}
