.navbar {
    font-family: 'Kavoon', cursive;
    font-size: 20px;
    background-color: white;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .nav {
        font-size: 14.91px;
    }
}

@media only screen and (min-width: 992px) {
    .nav {
        font-size: 23.1px;
    }
}

@media only screen and (min-width: 1200px) {
    .nav {
        font-size: 30.7px;
    }
}