.navbar {
    font-family: 'Arvo', cursive;
    font-size: 20px;
    background-color: rgba(179, 217, 255, 0.8);
    text-align: center;
}

#hstat-logo {
    height: 45px;
    width: 120px;
    margin-top: 2.3px;
}

@media only screen and (min-width: 768px) {
    #hstat-logo {
        width: 105.1px;
    }
    .nav {
        font-size: 17.3px;
    }
}

@media only screen and (min-width: 992px) {
    #hstat-logo {
        width: 110.1px;
    }
    .nav {
        font-size: 25.2px;
    }
}

@media only screen and (min-width: 1200px) {
    #hstat-logo {
        height: 45px;
        width: 140px;
    }
    .nav {
        font-size: 31.6px;
    }
}